DOMAIN=localhost
PORT=80

DISCORD_URL=https://discord.gg/wMfwxyMXXY
X_URL=https://x.com/AniaStarlight
YT_URL=https://www.youtube.com/@AniaStarLight
TW_URL=https://www.twitch.tv/aniastarlight


MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=ania

SERVER_PORT=3000
SERVER_HOSTNAME=0.0.0.0
COOKIE_SECRET=secret-key-for-cookies
JWT_SECRET=secret-key-for-jwt
# in seconds
JWT_EXPIRES_IN=3600